@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg: #E5E5E5;
    --primary: #FC3E03;
    --black: #2a2a2a;
    --black-25: #ADACAC;
    --p-9: 9px;
    --p-10: 10px;
    --p-11: 11px;
    --p-12: 12px;
    --p-14: 14px;
    --p-base: 16px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



body {
    background: var(--bg);
    color: var(--black);
    max-height: 100vh;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 32px;
    max-width: 1200px;
    margin: 0px auto;
    
}

/* .logo {
    width: 150px;
}

.logo img {
    width: 100%;
} */

header {
    background: #ffff;
    width: 100%;
}

h1 {
    font-size: 30px;
    line-height: 100%;
}

p {
    line-height: 16px;
    font-size: 12px;

}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul button{
    border: none;
    background: #ffff;
    cursor: pointer;
}

nav li {
    margin: 0 16px;
}

.coin {
    display: flex;
    align-items: center;
}
.coin small {
    margin: 0 8px;
}

.search {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 16px;
    padding: 0 16px;
}

.search input {
    padding: 5px 40px;
    width: 470px;
    outline: none;
    background: var(--bg);
    border-radius: 50px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.search img {
    position: absolute;
    left: 20px;
}

section {
    padding: 5px 32px;
    max-width: 1200px;
    margin: 32px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

section ul {
    margin-top: 16px;
}

section li {
    display: flex;
    align-items: center;
    margin: 8px 0px;
    text-align: center;
}

section li img {
    display: flex;
    justify-content: center;
    align-items: center;
}

section li a {
    text-decoration: none;
    padding: 0 8px;
    margin-left: 24px;
    font-size: 14px;
}

a {
    color: var(--black);
}

.grid-1, .grid-3, .grid-6 {
    padding: 16px ;
    background: #fff;
    border-radius: 10px;
    padding: 12px;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    margin-right: 24px;
}

.grid-head {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.p-l {
    margin-left: 8px;
}

.grid-head .level {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 8px;
    margin-left: auto;
}

.level p{
    color: var(--primary);
    padding: 0 5px;
}

.grid-2, .grid-4, .grid-5, .grid-8 {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    border-radius: 10px;
    background: #fff;
    padding: 8px;
    overflow: hidden;
}

.status {
    display: flex;
}

small {
    font-size: 10px;
}

.status div {
    margin: 0 8px;
}
.status .img-div {
    width: 55px;
}

.status img {
    border: 1px solid var(--primary);
    border-radius: 50px;
    padding: 2px;
    width: 100%;
}

.status small {
    display: block;
}

.grid-3, .grid-7 {
    grid-column: 4 / 6;
    margin-left: 24px;
}
.grid-3 {
    margin-right: 0;
}
.activities img, .sugg img {
    margin-top: 8px;
}
.a-1, .a-2 {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    margin: 8px 0;
    justify-content: space-between;
}
.a-2 img:nth-child(3) {
    margin-left: auto;
}
.a-1 p {
    color: #ADACAC;
}

.a-2 div img, .a-2 img{
    margin-right: 8px;
}

.a-2 div small {
    display: block;
}

.grid-4 {
    background: #fff;
    padding: 8px 16px;
    grid-row: 2/3;
    margin: 16px 0;
}

.post input {
    width: 90%;
    padding: 8px;
    background: var(--bg);
    border: none;
    outline: none;
    border-radius: 50px;
}

.post h5 {
    margin-bottom: 8px;
}

.grid-5 {
    background: #fff;
    grid-row: 3 / 5;
    padding: 0;
}

.feed-text{
    display: flex;
    align-items: center;
    padding: 16px;
}

.text-wrap {
    margin-left: 16px;
}

.text-wrap img{
    margin: 3px 0;
}

img.ellipse {
    margin-left: auto;
}

.p-10 {
    font-size: var(--p-10);
    color: var(--black-25);
    margin-top: 5px;
}

.p-6 {
    font-size: var(--p-9);
    color: var(--black-25);
    margin-top: 5px;
}

.learn {
    background: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.learn span {
    display: block;
}

.learn a {
    font-size: var(--p-11);
    padding: 7px;
    background: #d4d4d4;
    border: none;
    display: inline-block;
    margin-left: 16px;
    text-decoration: none;
}

.p-14 {
    font-size: var(--p-14);
}

.details {
    padding: 16px;
}

.details .img {
    display: flex;
    align-items: center;
}

.fav {
    margin-left: auto;
}

.grid-6 {
    background: #fff;
    grid-row: 4 / 7;
    margin-top: 16px;
}


.img-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

body > section > div.grid-6 > div.img-gallery > img:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
body > section > div.grid-6 > div.img-gallery > img:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    
}
body > section > div.grid-6 > div.img-gallery > img:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 6;
}
body > section > div.grid-6 > div.img-gallery > img:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;

}

.e-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.e-2 {
    margin: 16px 0;
    display: flex;
}

.e-2 button {
    border: none;
    background: var(--primary);
    border-radius: 50px;
    padding: 7px 16px;
    margin: 0px 8px 0px 0px;
}

.e-2 button:nth-child(2) {
    background: var(--bg);
}

.grid-7, .grid-8{
    background: #ffff;
    padding: 16px;
    border-radius: 10px;
    margin-top: 16px;
    grid-column: 4 / 8;
}

.grid-7 .a-2 {
    margin: 10px 0;
}

.grid-8 {
    grid-row: 5 / 8;
    grid-column: 2 / 4;
    margin-top: 16px;
}
